name: Label issues
on:
  issues:
    types:
      - reopened
      - opened
jobs:
  label_issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - run: gh issue edit "$NUMBER" --add-project "$PROJECT" --add-label "$LABELS" --add-assignee @me
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          LABELS: ${{ secrets.REPO_TEAM }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.issue.number }}
          PROJECT: OctopOSPrime
